.post-comments{
    width: 100%;
    height: auto;
    max-height: 600px;
}

.post-comments li {
    width: 96%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.322);
    border-radius: 8px;
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.comment-username{
    font-weight: bolder;
}
.comment-comment_ts{
    float: right;
    font-size: 14px;
}
