.sidebar {
  position: fixed;
  top: 30%;
  margin-top: 25px;
  width: 55px;
  height: 400px;
  background: transparent;
  transition: 0.5s;
  overflow: hidden;
  z-index: 1000;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
}

.sidebar:hover,
.sidebar.active {
  width: 170px;
  /* box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.5); */
}

.sidebar ul {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
}

.sidebar ul li {
  position: relative;
  width: 100%;
  list-style: none;
}

.sidebar ul li div:hover {
  color: black;
  background: rgba(255, 166, 0, 0.897);
}

.sidebar ul li div {
  position: relative;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: transparent;
  cursor: pointer;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
}

.sidebar ul li div .nav--name {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}
