.app-list {
    width: 80%;
    height: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-row-gap: 4em;
    grid-column-gap: 3em;
    margin-top: 40px;
    padding: 3em;
}