.login {
    width: 30%;
    height: 100%;
    min-width: 450px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 50px;
    z-index: 1;
    background-color: white;
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.102); 
}

.login p{
    color: orange;
    font-size: 50px;
    margin-bottom: 50px;
}

.login-form-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.action{
    text-decoration: none;
}

.action:hover{
    transition: 0.2s;
    color: orange;
}

.login-form-submit{
    margin-top: 50px;
    text-align: right;
}
