.signup {
    width: 33%;
    height: 100%;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    z-index: 1;
    background-color: white;
    margin: auto;
    text-align: center;
    box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.102), -12px 0 8px -4px rgba(0, 0, 0, 0.102);
}

.signup p {
    color: orange;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.signup .signup-form .form-submit {
    margin-top: 80px;
    text-align: center;    
}