.custom-button {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: white;
    color: gray;
    text-transform: uppercase;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    border: 2px solid #ccc
}

.custom-button:hover {
    color: white;
    transition: 0.2s;
    background-color: rgba(255, 166, 0, 0.897);
    border: 2px solid rgba(255, 166, 0, 0.897);
}



